.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.header-column {
    padding: 0 2rem;
}
.field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}
.slds-truncate{
    padding-top: 2px;
    padding-left: 2px;
}
.wrap{
    padding-top: 2px;
    overflow-wrap: break-word;
    text-align: justify;
}
.slds-text-heading_small{
    margin-left: 4px;
    padding-left: 4px;
}
.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.slds-dl_inline{
    margin-left: 8px;
    margin-right: 8px;
}