:host {
	--sds-c-card-color-background: linear-gradient(180deg,rgba(255,255,255,1), rgba(240,255,255,1) 50%, rgba(10,50,50,1) 100%);
}
.movie-tile {
	display: block;
	border: 1px solid rgb(40, 39, 39);
	border-radius: .25rem;
	background-color: rgba(10,50,50,1);
	height: 250px;
	margin-left: 10px;
	margin-right: 10px;
}
.movie-silhouette {
	height: auto;
	width: auto;
	max-height: 200px;
}
:hover{
	cursor: pointer;
	transform: scale(1.04);
}